# deploy/systemd/gsms-web.service
[Unit]
Description=GSMS FastAPI (Uvicorn :8000)
After=network-online.target
Wants=network-online.target

[Service]
# For fix the error about no find the database
EnvironmentFile=/etc/gsms/env
User=gsms
Group=gsms
WorkingDirectory=/opt/gsms/app
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/gsms/venv/bin/uvicorn src.main:app \
    --host 0.0.0.0 \
    --port 8101 \
    --root-path /dev/chris \
    --proxy-headers \
    --forwarded-allow-ips=*
Restart=always
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target